@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* New breakpoints for media query */
  /* --breakpoint-3xs: 10rem; /* 160px */
  --breakpoint-2xs: 20rem; /* 320px */
  --breakpoint-xs: 30rem; /* 480px */
  /* </> */
  /* Tailwind's default breakpoints */
  /* sm	| 40rem (640px) | @media (width >= 40rem) */
  /* md	| 48rem (768px) | @media (width >= 48rem) */
  /* lg	| 64rem (1024px) | @media (width >= 64rem) */
  /* xl	| 80rem (1280px) | @media (width >= 80rem) */
  /* 2xl | 96rem (1536px) | @media (width >= 96rem) */
  /* </> */
  /* New breakpoints for media query */
  --breakpoint-3xl: 108rem; /* 1728px */
  --breakpoint-4xl: 118rem; /* 1888px */
  /* </> */

  /* New breakpoints for @container */
  /* --container-4xs: 8rem;
  --container-4xl: 64rem;
  --container-8xl: 96rem; */

  /* Fonts */
  --font-yellowtail: "Yellowtail", cursive;
}

html.dark {
  background: #111723;
  background: linear-gradient(
      180deg,
      rgba(17, 23, 35, 1) 0%,
      rgba(25, 70, 130, 1) 50%,
      rgba(19, 26, 55, 1) 100%
    )
    no-repeat;

  theme-switch {
    /* There is a special property called --theme-switch-icon-color
   * which you can set, to change the color of the icon in the switch */
    --theme-switch-icon-color: #ffffff;
  }

  header.sticky-top {
    background-color: rgb(90, 64, 64);
  }
}

html.light {
  background: #f0f4f8;
  background: linear-gradient(
      180deg,
      rgb(175, 204, 233) 0%,
      rgb(193, 212, 230) 50%,
      rgb(207, 222, 236) 100%
    )
    no-repeat;

  theme-switch {
    /* There is a special property called --theme-switch-icon-color
   * which you can set, to change the color of the icon in the switch */
    --theme-switch-icon-color: #000000;
  }

  header.sticky-top {
    background-color: rgb(228, 191, 191);
  }
}

body {
  scroll-behavior: smooth;
}

header {
  will-change:
    top, backdrop-filter, background-color, border-top-width, padding-top,
    padding-bottom, border-radius;
  transition: all 0.15s ease-in-out;
}

header.sticky-top {
  top: 0;
  backdrop-filter: blur(10px);
  border-top-width: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
}

#skills {
  h2 {
    padding-bottom: 5px;
    &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      background-color: #f87171;
      bottom: 0;
      left: 0;
    }
  }
}
